.input-group .help-block {
  background: red;
  width: 100%;
  color: white;
  text-align: initial;
  padding: 0.1em 1em;
}

.message-form {
  width: 100%;

  input, textarea {
    width: 100%;
  }

  .submit-button {
    margin-top: 1em;
    text-align: right;
  }
}

input, textarea {
  border: 1px solid #CCC;
  border-radius: 0.3em;
}
