<div class="row py-3">
  <%= live_redirect "<- Back to Dashboard", to: Routes.dashboard_index_path(@socket, :index) %>
</div>

<div class="row" id="main">
  <h1>Chat #<%= @chat.id %></h1>
  <ul class="chatbox">
    <%= for message <- @messages do %>
      <%= live_component @socket, ChatterWeb.Live.Chats.MessageComponent, id: message.id, message: message %>
    <% end %>
  </ul>
</div>
